@media (max-width: 1919px) {
    canvas {
        height: 300px;
    }
}
@media (max-width: 1550px) {
    canvas {
        height: 250px;
    }
}
@media (max-width: 1065px) {
    canvas {
        height: 220px;
    }
}

@media (max-width: 960px) {
    canvas {
        height: 300px;
    }
}
@media (max-width: 620px) {
    canvas {
        height: 250px;
    }
}

